# Ignore Gradle
/.gradle/
/build/
/config/metrics

# Ignore IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
/out/

# Ignore Eclipse
.project
.metadata
.settings/
.checkstyle
.classpath
*.bak
/bin/

# Ignore Linux
*~

# Ignore OSX
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Ignore Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore output stuff
TerasologyLauncher.log

# Signing certificate - Do not EVER put this file into the repository
certum.jks

# Ignore text files that are copied by a gradle task from the root folder into resources to make them accessible for java code
/src/main/resources/org/terasology/launcher/about/

# Ignore icons that exists twice (for reference inside the jar and for the webstarter)
/src/main/resources/org/terasology/launcher/icons/

# Ignore version info file(s)
/src/main/resources/org/terasology/launcher/version/

# Ignore generated Web API sources
web-api-client/

# Ignore donwloaded JREs
jre/**
