<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg%n%nopex</pattern>
        </encoder>
    </appender>

    <define name="LOG_FILE" class="org.terasology.launcher.log.TempLogFilePropertyDefiner">
      <prefix>TerasologyLauncher_</prefix>
      <suffix>.log</suffix>
    </define>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>${LOG_FILE}</file>
	
	  <encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  </encoder>
	</appender>
	
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
